# Data Cleaning – Customer Churn Analysis

This notebook focuses on preparing the raw customer churn dataset
for analysis and modeling. The goal is to create a clean, consistent,
and reproducible dataset for subsequent steps.

In [1]:
import pandas as pd
# Display formatting
from IPython.core.display import HTML
HTML("""
<style>
.dataframe table, .dataframe th, .dataframe td { font-size: 12px; }
div.output_scroll { overflow-x: auto; }
</style>
""")

## Importing Required Libraries

Pandas is used for data manipulation and analysis.
Display formatting is adjusted to improve readability
when inspecting dataframes.

In [2]:
df = pd.read_csv("../data/raw/telco_customer_churn.csv")

### Loading the Dataset

The dataset is loaded from the raw data directory.
This raw version is kept unchanged to ensure data integrity and reproducibility.

## Initial Data Inspection

In [3]:
print("Number of rows and columns:", df.shape)

Number of rows and columns: (7043, 50)

In [4]:
df.head()

,Customer ID,Gender,Age,Under 30,Senior Citizen,Married,Dependents,Number of Dependents,Country,State,...,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Satisfaction Score,Customer Status,Churn Label,Churn Score,CLTV,Churn Category,Churn Reason
0,8779-QRDMV,Male,78,No,Yes,No,No,0,United States,California,...,20,0.00,59.65,3,Churned,Yes,91,5433,Competitor,Competitor offered more data
1,7495-OOKFY,Female,74,No,Yes,Yes,Yes,1,United States,California,...,0,390.80,1024.10,3,Churned,Yes,69,5302,Competitor,Competitor made better offer
2,1658-BYGOY,Male,71,No,Yes,No,Yes,3,United States,California,...,0,203.94,1910.88,2,Churned,Yes,81,3179,Competitor,Competitor made better offer
3,4598-XLKNJ,Female,78,No,Yes,Yes,Yes,1,United States,California,...,0,494.00,2995.07,2,Churned,Yes,88,5337,Dissatisfaction,Limited range of services
4,4846-WHAFZ,Female,80,No,Yes,Yes,Yes,1,United States,California,...,0,234.21,3102.36,2,Churned,Yes,67,2793,Price,Extra data charges

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 50 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Customer ID                        7043 non-null   object
 1   Gender                             7043 non-null   object
 2   Age                                7043 non-null   int64
 3   Under 30                           7043 non-null   object
 4   Senior Citizen                     7043 non-null   object
 5   Married                            7043 non-null   object
 6   Dependents                         7043 non-null   object
 7   Number of Dependents               7043 non-null   int64
 8   Country                            7043 non-null   object
 9   State                              7043 non-null   object
 10  City                               7043 non-null   object
 11  Zip Code                           7043 non-null   int64
 12  Latitude                           7043 non-null   float64
 13  Longitude                          7043 non-null   float64
 14  Population                         7043 non-null   int64
 15  Quarter                            7043 non-null   object
 16  Referred a Friend                  7043 non-null   object
 17  Number of Referrals                7043 non-null   int64
 18  Tenure in Months                   7043 non-null   int64
 19  Offer                              3166 non-null   object
 20  Phone Service                      7043 non-null   object
 21  Avg Monthly Long Distance Charges  7043 non-null   float64
 22  Multiple Lines                     7043 non-null   object
 23  Internet Service                   7043 non-null   object
 24  Internet Type                      5517 non-null   object
 25  Avg Monthly GB Download            7043 non-null   int64
 26  Online Security                    7043 non-null   object
 27  Online Backup                      7043 non-null   object
 28  Device Protection Plan             7043 non-null   object
 29  Premium Tech Support               7043 non-null   object
 30  Streaming TV                       7043 non-null   object
 31  Streaming Movies                   7043 non-null   object
 32  Streaming Music                    7043 non-null   object
 33  Unlimited Data                     7043 non-null   object
 34  Contract                           7043 non-null   object
 35  Paperless Billing                  7043 non-null   object
 36  Payment Method                     7043 non-null   object
 37  Monthly Charge                     7043 non-null   float64
 38  Total Charges                      7043 non-null   float64
 39  Total Refunds                      7043 non-null   float64
 40  Total Extra Data Charges           7043 non-null   int64
 41  Total Long Distance Charges        7043 non-null   float64
 42  Total Revenue                      7043 non-null   float64
 43  Satisfaction Score                 7043 non-null   int64
 44  Customer Status                    7043 non-null   object
 45  Churn Label                        7043 non-null   object
 46  Churn Score                        7043 non-null   int64
 47  CLTV                               7043 non-null   int64
 48  Churn Category                     1869 non-null   object
 49  Churn Reason                       1869 non-null   object
dtypes: float64(8), int64(11), object(31)
memory usage: 2.7+ MB

### Initial Data Inspection

At this stage, we inspect:
- The number of rows and columns
- Sample records
- Column names and data types
- Presence of missing values

This step helps build an initial understanding of the dataset before making any transformations.

In [6]:
df.columns = (
    df.columns
    .str.lower()
    .str.replace(' ', '_')
    .str.replace('-', '_')
)

df.columns

Index(['customer_id', 'gender', 'age', 'under_30', 'senior_citizen', 'married',
       'dependents', 'number_of_dependents', 'country', 'state', 'city',
       'zip_code', 'latitude', 'longitude', 'population', 'quarter',
       'referred_a_friend', 'number_of_referrals', 'tenure_in_months', 'offer',
       'phone_service', 'avg_monthly_long_distance_charges', 'multiple_lines',
       'internet_service', 'internet_type', 'avg_monthly_gb_download',
       'online_security', 'online_backup', 'device_protection_plan',
       'premium_tech_support', 'streaming_tv', 'streaming_movies',
       'streaming_music', 'unlimited_data', 'contract', 'paperless_billing',
       'payment_method', 'monthly_charge', 'total_charges', 'total_refunds',
       'total_extra_data_charges', 'total_long_distance_charges',
       'total_revenue', 'satisfaction_score', 'customer_status', 'churn_label',
       'churn_score', 'cltv', 'churn_category', 'churn_reason'],
      dtype='object')

### Standardizing Column Names

Column names are standardized to improve code readability and consistency.
The following transformations are applied:
- Convert all names to lowercase
- Replace spaces with underscores
- Remove special characters

This step helps prevent errors during analysis and modeling.

In [7]:
df.dtypes.value_counts()

object     31
int64      11
float64     8
Name: count, dtype: int64

### Reviewing Data Types

The dataset contains a mix of numerical and categorical variables.
Many categorical features are currently stored as object types.

At this stage, no type conversion is performed.
Detailed encoding and transformations will be handled during the feature engineering phase.

In [8]:
df.isna().sum().sort_values(ascending=False)

churn_reason                         5174
churn_category                       5174
offer                                3877
internet_type                        1526
senior_citizen                          0
married                                 0
age                                     0
under_30                                0
country                                 0
state                                   0
city                                    0
zip_code                                0
latitude                                0
longitude                               0
dependents                              0
number_of_dependents                    0
customer_id                             0
gender                                  0
number_of_referrals                     0
referred_a_friend                       0
quarter                                 0
population                              0
avg_monthly_long_distance_charges       0
multiple_lines                          0
phone_service                           0
tenure_in_months                        0
online_security                         0
online_backup                           0
device_protection_plan                  0
premium_tech_support                    0
streaming_tv                            0
streaming_movies                        0
internet_service                        0
avg_monthly_gb_download                 0
unlimited_data                          0
streaming_music                         0
contract                                0
paperless_billing                       0
total_charges                           0
total_refunds                           0
payment_method                          0
monthly_charge                          0
total_long_distance_charges             0
total_extra_data_charges                0
total_revenue                           0
satisfaction_score                      0
churn_label                             0
customer_status                         0
cltv                                    0
churn_score                             0
dtype: int64

### Identifying Missing Values

Missing values are inspected across all columns.
Some missing values represent meaningful business information rather than data errors.
Therefore, missing values will be handled carefully instead of removing rows.

In [9]:
df['offer'] = df['offer'].fillna('No Offer')
df['internet_type'] = df['internet_type'].fillna('No Internet')

### Handling Missing Categorical Values

Missing values in categorical columns such as `offer` and `internet_type` are replaced with explicit labels.
This approach preserves all records and allows the model to learn from the absence of these services or offers.
This approach avoids unnecessary data loss
and preserves meaningful customer information.

In [10]:
df.to_csv('../data/processed/cleaned_data.csv', index=False)

### Saving the Cleaned Dataset

The cleaned dataset is saved to the processed data directory.
This version will be used for exploratory data analysis and modeling.